<div ng-controller="branchController">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">

	</div>
	<div class="container marketing">
		<h1>List of Branches in LMS</h1>
		<div class="input-group mb-3">
			 <input type="text" class="form-control" placeholder="Branch's name" aria-label="Recipient's username" aria-describedby="button-addon2" ng-model="searchString" >
			  <div class="input-group-append">
			    <button class="btn btn-outline-primary" type="button" id="button-addon2"  ng-click="searchBranch()">Search</button>
			  </div>
		</div>
		<div class="col-md-10">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href=""
					ng-click="pagination.prevPage()">&laquo;</a></li>
				<li class="page-item"
					ng-repeat="n in [] | range: pagination.numPages"
					ng-class="{active: n == pagination.page}"><a class="page-link"
					href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
				<li class="page-item"><a class="page-link" href=""
					ng-click="pagination.nextPage()">&raquo;</a></li>
			</ul>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Branch Name</th>
					<th scope="col">Branch Address</th>
					<th scope="col">Books Storage</th>
					<th scope="col">Edit Branch</th>
					<th scope="col">Delete Branch</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="l in mybranchs | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{$index+1}}</td>
					<td>{{l.branchName}}</td>
					<td>{{l.branchAddress}}</td>
					<td><span ng-repeat="b in l.books">{{b.title}}<span
							ng-if="!$last"> | </span></span></td>
					<td>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
							data-target="#editBranchModal" ng-click="editBranchModal(l)">Edit</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger btn-sm"
							ng-click="deleteBranch(l.branchId)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<form>
			<a role="button" class="btn btn-outline-primary" href="#/createbranch">Add Branch</a>
			<a class="btn btn-danger" href="#/adminservices" role="button">Go
				Back</a>
		</form>
	</div>
	<div class="modal fade" id="editBranchModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Branch</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Branch Name to be edited:<br /> <input type="text"
							maxlength="45" ng-model="branch.branchName"
							value="branch.branchName">
					</div>
					<div class="container">
						Enter Branch Address to be edited:<br /> <input type="text"
							maxlength="45" ng-model="branch.branchAddress"
							value="branch.branchAddress">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="updateBranch(branch)" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>